.burger_menu {
  position: relative;
  margin: 1.25rem;
  width: 1.25rem;
  height: 0.75rem;
  align-self: center;
}
.burger_menu div {
  position: relative;
  height: 0.125rem;
  width: 1.25rem;
  background-color: black;
}
.burger_menu .burger_menu--first {
  transition: 500ms;
  top: 0;
}
.burger_menu .burger_menu--first--crossed {
  top: 0.3125rem;
  rotate: 45deg;
}
.burger_menu .burger_menu--middle {
  transition: 500ms;
  justify-self: center;
  top: 0.1875rem;
}
.burger_menu .burger_menu--middle--crossed {
  width: 0%;
}
.burger_menu .burger_menu--last {
  transition: 500ms;
  top: 0.375rem;
}
.burger_menu .burger_menu--last--crossed {
  top: 0.0625rem;
  rotate: -45deg;
}

@media screen and (min-width: 1000px) {
  .burger_menu {
    display: none;
  }
}
nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 4.3125rem;
  padding: 1rem 1.25rem;
  transition: 200ms ease-in-out;
  transform-origin: top;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 12;
}
nav.deploy_nav--active {
  transform: scaleY(1);
}
nav.deploy_nav--non_active {
  transform: scaleY(0);
}
nav.header--nav {
  display: none;
}
nav a {
  color: #111111;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-block: 1rem;
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
  }
  nav.deploy_nav--active, nav.deploy_nav--non_active {
    display: none;
  }
  nav.header--nav {
    display: flex;
    position: relative;
    width: 40%;
    left: 0;
    padding: 0;
    background-color: white;
    box-shadow: none;
    z-index: 12;
  }
  nav.header--nav a {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 25%;
    align-content: center;
  }
  nav a {
    text-align: center;
  }
}
@media screen and (min-width: 1051px) {
  nav.header--nav {
    left: 3rem;
  }
}
.desktop_header {
  display: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: white;
}

.header--wrapper {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 99;
}

.logo {
  display: flex;
  align-self: center;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.6px;
  color: #111111;
}
.logo h1 {
  align-self: center;
  order: 2;
  font-size: 0.8rem;
  width: 8.5rem;
  margin-left: 1rem;
}
.logo h1 span {
  font-weight: 400;
}
.logo img {
  order: 1;
  width: 2.25rem;
  height: 2.25rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
}

.header_buttons {
  margin-left: auto;
}

.header_buttons--user {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}
@media screen and (min-width: 1000px) {
  .header_buttons--user {
    margin: 0.4375rem 0 0.4375rem 1.25rem;
    padding: 1.25rem;
    border: 1px solid rgba(133, 133, 133, 0.3019607843);
  }
}

.header_buttons--search {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}
@media screen and (min-width: 1000px) {
  .header_buttons--search {
    margin: 0.4375rem 0 0.4375rem 1.25rem;
    padding: 1.25rem;
    border: 1px solid rgba(133, 133, 133, 0.3019607843);
  }
}

@media screen and (min-width: 1000px) {
  header {
    position: relative;
    background-color: #222222;
    height: 6.25rem;
  }
  .desktop_header {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0.6875rem 0;
    width: 74%;
  }
  .header--wrapper {
    position: relative;
    margin: 0 auto;
    padding: 1.25rem;
    width: 74%;
    height: 7.5rem;
    box-shadow: none;
  }
  .logo h1 {
    font-size: 1.6rem;
  }
  .logo img {
    order: 1;
    width: 5rem;
    height: 5rem;
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  }
  .header_buttons {
    position: relative;
    right: 0;
  }
}
@media screen and (min-width: 1246px) {
  .header_buttons {
    position: relative;
    right: 10%;
  }
}
footer {
  background-image: url("../img/footer background.png");
  background-color: rgba(255, 255, 255, 0.98);
  background-blend-mode: lighten;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.footer__data__logo {
  display: flex;
  margin-bottom: 3.125rem;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #111111;
}
.footer__data__logo h1 {
  align-self: center;
  order: 2;
  font-size: 1.625rem;
  width: 4rem;
  margin-left: 1.75rem;
}
.footer__data__logo h1 span {
  font-weight: 400;
}
.footer__data__logo img {
  order: 1;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}

.footer__data__description {
  color: #777777;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}

.footer__data__social_media {
  display: flex;
  margin-bottom: 2rem;
}

.footer__data__social_media__link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
  background-color: #F8F8F8;
}

.footer__data__social_media__link--twitter {
  background-color: #BEAD8E;
}

.footer__services--title, .footer__contact--title {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer__services__types {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18.75rem;
  color: #777777;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.footer__contact {
  width: 60%;
}

.footer__contact__contact_card {
  display: flex;
  margin-bottom: 3.75rem;
}

.footer__contact__cc__text {
  margin-left: 1.25rem;
  width: 100%;
}

.footer__contact__cc__text--name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}

.footer__contact__cc__text--type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #777777;
}

.footer__legal {
  background-color: #F8F8F8;
  width: 100%;
  padding-block: 0.4375rem;
}

.footer__legal__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: #222222;
  padding: 0.75rem 1.25rem;
}

@media screen and (min-width: 1000px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    height: 34.5rem;
    margin: 0 auto;
    padding: 0;
  }
  .footer__data, .footer__services, .footer__contact {
    padding-block: 6.25rem;
  }
  .footer__data {
    width: 25%;
  }
  .footer__services {
    width: 33%;
  }
  .footer__contact {
    width: 20%;
  }
  .footer__legal {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    padding: 0;
  }
  .footer__legal__text {
    padding: 2rem 1.25rem;
  }
}
html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

button, input[type=submit] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main__header {
  position: relative;
  background-image: url("../img/hotel-room-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.main__header__bg_color {
  background-color: rgba(51, 51, 51, 0.7882352941);
}
.main__header__text {
  padding-inline: 1.25rem;
  padding-block: 4.6875rem;
}
.main__header__text--luxury {
  width: 80%;
  margin-bottom: 1.25rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.main__header__text--details, .main__header__text--details > pre {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
}
.main__header__buttons {
  padding-inline: 1.25rem;
  padding-bottom: 4.6875rem;
}
.main__header__buttons__tour {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
}
.main__header__buttons__learn {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.breadcrumbs {
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  padding: 1rem 1.875rem;
  background-color: white;
  color: #222222;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
}
.breadcrumbs span {
  color: #BEAD8E;
}

@media screen and (min-width: 1000px) {
  .main__header {
    height: 22rem;
  }
  .main__header__bg_color {
    height: 22rem;
  }
  .main__header__text {
    position: relative;
    left: 20%;
    top: 6.5rem;
    width: 50%;
  }
  .main__header__text--details {
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -2.16px;
  }
  .main__header--index {
    height: 43.75rem;
  }
  .main__header--index__bg_color {
    height: 43.75rem;
  }
  .main__header--index__text {
    padding-bottom: 2rem;
  }
  .main__header--index__text--luxury {
    font-size: 0.875rem;
  }
  .main__header--index__text--details, .main__header--index__text--details > pre {
    font-size: 7.5rem;
    line-height: 8.125rem;
    letter-spacing: -3.6px;
  }
  .main__header--index__buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 6.5rem;
    left: 20%;
    width: 50%;
  }
  .main__header--index__buttons button {
    margin: 0 1.875rem 0 0;
    width: 13.5rem;
  }
  .breadcrumbs {
    right: 20%;
    padding: 1.25rem 2.5rem;
  }
}
.error {
  width: 60%;
  margin: 3.5rem auto;
}
.error__header {
  width: 80%;
  margin-bottom: 1.25rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.error__main {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -1.2px;
}

@media screen and (min-width: 1000px) {
  .error__main{
    font-size: 3.5rem;
    line-height: 3.75rem;
  }
}