.burger_menu {
  position: relative;
  margin: 1.25rem;
  width: 1.25rem;
  height: 0.75rem;
  align-self: center;
}
.burger_menu div {
  position: relative;
  height: 0.125rem;
  width: 1.25rem;
  background-color: black;
}
.burger_menu .burger_menu--first {
  transition: 500ms;
  top: 0;
}
.burger_menu .burger_menu--first--crossed {
  top: 0.3125rem;
  rotate: 45deg;
}
.burger_menu .burger_menu--middle {
  transition: 500ms;
  justify-self: center;
  top: 0.1875rem;
}
.burger_menu .burger_menu--middle--crossed {
  width: 0%;
}
.burger_menu .burger_menu--last {
  transition: 500ms;
  top: 0.375rem;
}
.burger_menu .burger_menu--last--crossed {
  top: 0.0625rem;
  rotate: -45deg;
}

@media screen and (min-width: 1000px) {
  .burger_menu {
    display: none;
  }
}
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 4.3125rem;
  padding: 1rem 1.25rem;
  transition: 200ms ease-in-out;
  transform-origin: top;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 12;
}
nav.deploy_nav--active {
  transform: scaleY(1);
}
nav.deploy_nav--non_active {
  transform: scaleY(0);
}
nav a {
  color: #111111;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-block: 1rem;
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
  }
  nav.deploy_nav--active, nav.deploy_nav--non_active {
    transform: scale(1);
  }
  nav a {
    text-align: center;
  }
}
header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 99;
}

.logo {
  display: flex;
  align-self: center;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #111111;
}
.logo h1 {
  align-self: center;
  order: 2;
  font-size: 0.8rem;
  width: 4rem;
  margin-left: 1rem;
}
.logo h1 span {
  font-weight: 400;
}
.logo img {
  order: 1;
  width: 2.25rem;
  height: 2.25rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
}

.header_buttons {
  margin-left: auto;
}

.header_buttons--user {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}

.header_buttons--search {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  background-image: url("../img/footer background.png");
  background-color: rgba(255, 255, 255, 0.98);
  background-blend-mode: lighten;
  padding: 1.25rem;
}

.footer__logo {
  display: flex;
  margin-bottom: 3.125rem;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #111111;
}
.footer__logo h1 {
  align-self: center;
  order: 2;
  font-size: 1.625rem;
  width: 4rem;
  margin-left: 1.75rem;
}
.footer__logo h1 span {
  font-weight: 400;
}
.footer__logo img {
  order: 1;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}

.footer__description {
  color: #777777;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}

.footer__social_media {
  display: flex;
  margin-bottom: 2rem;
}

.footer__social_media__link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
}

.footer__social_media__link--twitter {
  background-color: #BEAD8E;
}

.footer__services--title, .footer__contact--title {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer__services__types {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18.75rem;
  color: #777777;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.footer__contact {
  width: 60%;
}

.footer__contact__contact_card {
  display: flex;
  margin-bottom: 3.75rem;
}

.footer__contact__cc__text {
  margin-left: 1.25rem;
  width: 100%;
}

.footer__contact__cc__text--name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}

.footer__contact__cc__text--type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #777777;
}

.footer__legal {
  background-color: #F8F8F8;
  width: 100%;
  padding-block: 0.4375rem;
}

.footer__legal__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: #222222;
  padding: 0.75rem 1.25rem;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

button, input[type=submit] {
  cursor: pointer;
}

.main__header {
  position: relative;
  background-image: url("../img/hotel-room-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.main__header__bg_color {
  background-color: rgba(51, 51, 51, 0.7882352941);
}
.main__header__text {
  padding-inline: 1.25rem;
  padding-block: 4.6875rem;
}
.main__header__text--luxury {
  width: 80%;
  margin-bottom: 1.25rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.main__header__text--details {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
}
.main__header__buttons {
  padding-inline: 1.25rem;
  padding-bottom: 4.6875rem;
}
.main__header__buttons__tour {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
}
.main__header__buttons__learn {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.breadcrumbs {
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  padding: 1rem 1.875rem;
  background-color: white;
  color: #222222;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
}
.breadcrumbs span {
  color: #BEAD8E;
}

.main__availability, .main__arrival {
  padding: 2.5rem;
}
.main__availability form, .main__arrival form {
  display: flex;
  flex-direction: column;
}
.main__availability form p, .main__arrival form p {
  text-align: center;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: -0.54px;
  color: #222222;
}
.main__availability form label, .main__arrival form label {
  display: flex;
  flex-direction: column;
  margin-block: 1.25rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  color: #222222;
}
.main__availability form label input, .main__arrival form label input {
  margin-block: 0.5rem;
  padding: 1.5625rem 1.25rem;
  width: 100%;
  border: 0;
  outline: none;
  background-color: #F8F8F8;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #777777;
}
.main__availability form label .input_not_visible, .main__arrival form label .input_not_visible {
  display: none;
}
.main__availability form label .input_background_image, .main__arrival form label .input_background_image {
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 1.875rem);
}
.main__availability form label .input_background_image__calendar, .main__arrival form label .input_background_image__calendar {
  background-image: url("../img/calendar.svg");
}
.main__availability form input[type=submit], .main__arrival form input[type=submit] {
  width: 100%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
}

.burger_menu {
  position: relative;
  margin: 1.25rem;
  width: 1.25rem;
  height: 0.75rem;
  align-self: center;
}
.burger_menu div {
  position: relative;
  height: 0.125rem;
  width: 1.25rem;
  background-color: black;
}
.burger_menu .burger_menu--first {
  transition: 500ms;
  top: 0;
}
.burger_menu .burger_menu--first--crossed {
  top: 0.3125rem;
  rotate: 45deg;
}
.burger_menu .burger_menu--middle {
  transition: 500ms;
  justify-self: center;
  top: 0.1875rem;
}
.burger_menu .burger_menu--middle--crossed {
  width: 0%;
}
.burger_menu .burger_menu--last {
  transition: 500ms;
  top: 0.375rem;
}
.burger_menu .burger_menu--last--crossed {
  top: 0.0625rem;
  rotate: -45deg;
}

@media screen and (min-width: 1000px) {
  .burger_menu {
    display: none;
  }
}
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 4.3125rem;
  padding: 1rem 1.25rem;
  transition: 200ms ease-in-out;
  transform-origin: top;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 12;
}
nav.deploy_nav--active {
  transform: scaleY(1);
}
nav.deploy_nav--non_active {
  transform: scaleY(0);
}
nav a {
  color: #111111;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-block: 1rem;
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
  }
  nav.deploy_nav--active, nav.deploy_nav--non_active {
    transform: scale(1);
  }
  nav a {
    text-align: center;
  }
}
header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 99;
}

.logo {
  display: flex;
  align-self: center;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #111111;
}
.logo h1 {
  align-self: center;
  order: 2;
  font-size: 0.8rem;
  width: 4rem;
  margin-left: 1rem;
}
.logo h1 span {
  font-weight: 400;
}
.logo img {
  order: 1;
  width: 2.25rem;
  height: 2.25rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
}

.header_buttons {
  margin-left: auto;
}

.header_buttons--user {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}

.header_buttons--search {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  background-image: url("../img/footer background.png");
  background-color: rgba(255, 255, 255, 0.98);
  background-blend-mode: lighten;
  padding: 1.25rem;
}

.footer__logo {
  display: flex;
  margin-bottom: 3.125rem;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #111111;
}
.footer__logo h1 {
  align-self: center;
  order: 2;
  font-size: 1.625rem;
  width: 4rem;
  margin-left: 1.75rem;
}
.footer__logo h1 span {
  font-weight: 400;
}
.footer__logo img {
  order: 1;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}

.footer__description {
  color: #777777;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}

.footer__social_media {
  display: flex;
  margin-bottom: 2rem;
}

.footer__social_media__link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
}

.footer__social_media__link--twitter {
  background-color: #BEAD8E;
}

.footer__services--title, .footer__contact--title {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer__services__types {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18.75rem;
  color: #777777;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.footer__contact {
  width: 60%;
}

.footer__contact__contact_card {
  display: flex;
  margin-bottom: 3.75rem;
}

.footer__contact__cc__text {
  margin-left: 1.25rem;
  width: 100%;
}

.footer__contact__cc__text--name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}

.footer__contact__cc__text--type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #777777;
}

.footer__legal {
  background-color: #F8F8F8;
  width: 100%;
  padding-block: 0.4375rem;
}

.footer__legal__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: #222222;
  padding: 0.75rem 1.25rem;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

button, input[type=submit] {
  cursor: pointer;
}

.main__header {
  position: relative;
  background-image: url("../img/hotel-room-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.main__header__bg_color {
  background-color: rgba(51, 51, 51, 0.7882352941);
}
.main__header__text {
  padding-inline: 1.25rem;
  padding-block: 4.6875rem;
}
.main__header__text--luxury {
  width: 80%;
  margin-bottom: 1.25rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.main__header__text--details {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
}
.main__header__buttons {
  padding-inline: 1.25rem;
  padding-bottom: 4.6875rem;
}
.main__header__buttons__tour {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
}
.main__header__buttons__learn {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.breadcrumbs {
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  padding: 1rem 1.875rem;
  background-color: white;
  color: #222222;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
}
.breadcrumbs span {
  color: #BEAD8E;
}

.swiper_complete .swiper-pagination, .swiper_only_pagination .swiper-pagination {
  bottom: 0;
}

.page-number,
.swiper_complete .custom-button-prev--rooms,
.swiper_complete .custom-button-next--rooms,
.swiper_only_pagination .custom-button-prev--rooms,
.swiper_only_pagination .custom-button-next--rooms {
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 2rem;
  height: 2rem;
  line-height: 1.25rem;
  color: #222222;
}

.page-number {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 0.875rem;
}
.page-number:not(:last-child) {
  margin-right: 0.625rem;
}

.active {
  background-color: #BEAD8E;
  color: white;
}

.swiper_complete .custom-button-prev--rooms,
.swiper_complete .custom-button-next--rooms,
.swiper_only_pagination .custom-button-prev--rooms,
.swiper_only_pagination .custom-button-next--rooms {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1.25rem;
}

.custom-button-prev--rooms::after, .custom-button-next--rooms::after {
  display: none;
}

.swiper_complete .custom-button-prev--rooms, .swiper_only_pagination .custom-button-prev--rooms {
  margin-right: 0.625rem;
}

.custom-button-prev--only_navigation, .custom-button-next--only_navigation {
  top: 6.25rem;
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 2rem;
  height: 2rem;
  line-height: 1.25rem;
  z-index: 3;
}

.custom-button-prev--only_navigation {
  color: #111111;
  background-color: white;
  left: 1rem;
}

.custom-button-next--only_navigation {
  color: white;
  background-color: #BEAD8E;
  right: 1rem;
}

.room__card {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  text-align: center;
}
.room__card__bottom {
  position: relative;
  background-color: white;
}
.room__card__bottom__icons {
  position: relative;
  bottom: 1.375rem;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.0509803922);
}
.room__card__bottom__icons > :not(:last-child) {
  padding-right: 1rem;
}
.room__card__bottom__type {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.72px;
  color: #222222;
}
.room__card__bottom__description {
  padding: 0.625rem;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
}
.room__card__bottom__pricing {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-block: 0.625rem 1.875rem;
  width: 70%;
}
.room__card__bottom__pricing__price, .room__card__bottom__pricing__book {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
}
.room__card__bottom__pricing__price {
  color: #BEAD8E;
}
.room__card__bottom__pricing__book {
  color: #BDBDBD;
}

.main__arrival {
  background-color: #222222;
  padding: 1.25rem;
}
.main__arrival form label {
  font-family: "Roboto";
  font-size: 1rem;
  color: white;
}
.main__arrival form label input {
  padding-block: 0.875rem;
  padding-left: 1.5rem;
  border-bottom: 2px solid #BEAD8E;
  background-color: transparent;
  font-family: "Roboto";
}
.main__arrival form label .input_background_image {
  background-position-x: left;
}
.main__arrival form label .input_background_image__calendar {
  background-image: url("../img/calendar_dark.svg");
}
.main__arrival form input[type=submit] {
  margin-bottom: 2rem;
  width: 70%;
}

.about {
  margin: 3.5rem 1.25rem 0 1.25rem;
}
.about__text__name {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
  color: #777777;
}
.about__text__title {
  padding-block: 2rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #111111;
}
.about__text__description {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
}
.about__text__book {
  margin-top: 2rem;
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
}
.about__team, .about__luxury {
  padding: 3rem 3.25rem;
}
.about__team__img, .about__luxury__img {
  display: block;
  width: 100%;
}
.about__team__card, .about__luxury__card {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 100%;
}
.about__team__card__icon, .about__luxury__card__icon {
  margin: 0 auto;
  width: fit-content;
}
.about__team__card__title, .about__luxury__card__title {
  padding-block: 2rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.9px;
  text-align: center;
  color: #111111;
}
.about__team__card__description, .about__luxury__card__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: center;
  color: #111111;
}
.about__luxury__card {
  background-color: #111111;
}
.about__luxury__card__title, .about__luxury__card__description {
  color: white;
}

.popular_rooms {
  position: relative;
}
.popular_rooms--list {
  padding-top: 3rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  text-align: center;
  color: #777777;
}
.popular_rooms--room {
  margin-block: 0.9375rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  text-align: center;
  color: #222222;
}

.room__card {
  position: relative;
  margin: 1.25rem 0;
}
.room__card__icons {
  position: absolute;
  top: -1.375rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.0509803922);
}
.room__card__icons > :not(:last-child) {
  padding-right: 1rem;
}
.room__card__bottom {
  margin-inline: 1.25rem;
  bottom: 1.25rem;
}
.room__card__bottom__type {
  margin-top: 1.25rem;
}

.place {
  padding: 3.5rem 1.25rem;
  background-color: #222222;
}
.place__name {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #BEAD8E;
}
.place__title {
  padding-block: 2rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: white;
}
.place__description {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #C2C2C2;
}
.place .video {
  margin-block: 2rem;
}
.place__book {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
}

.features {
  padding: 1.25rem;
}
.features__title {
  margin-top: 1.75rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  text-align: center;
  color: #777777;
}
.features__description {
  margin-block: 1rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  text-align: center;
}
.features__card {
  position: relative;
  padding: 4.5rem 1.125rem 3rem 1.125rem;
}
.features__card__number {
  position: absolute;
  top: -0.5rem;
  right: 0.75rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 8.125rem;
  color: rgba(34, 34, 34, 0.04);
}
.features__card__title {
  margin-block: 1.5rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.9px;
  color: #222222;
}
.features__card__description {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
}

.swiper_complete .swiper-pagination-bullet, .swiper_only_pagination .swiper-pagination-bullet {
  background: #EDEDED;
  opacity: 1;
}

.swiper_complete .swiper-pagination-bullet-active, .swiper_only_pagination .swiper-pagination-bullet-active {
  background: #BEAD8E;
}

.menu {
  position: relative;
  padding: 3.5rem 1.25rem;
}
.menu__icon {
  position: relative;
  left: calc(100% - 5.5625rem + 1.25rem);
}
.menu__name {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
}
.menu__title {
  padding-block: 2rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #222222;
}
.menu__card {
  display: flex;
  margin-block: 1rem;
}
.menu__card__img {
  width: 7.5rem;
}
.menu__card__text {
  margin-left: 2rem;
}
.menu__card__text__name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.72px;
  color: #222222;
}
.menu__card__text__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #222222;
}

.swiper-slide {
  margin-bottom: 2rem;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  top: auto;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  z-index: 3;
}

.swiper .swiper-button-prev::after, .swiper .swiper-button-next::after {
  content: none;
}

.swiper .swiper-button-prev {
  color: #111111;
  background-color: white;
  left: auto;
  right: 4rem;
}

.swiper .swiper-button-next {
  color: white;
  background-color: #BEAD8E;
  right: 1rem;
}

.food_image {
  padding: 1.25rem;
}

.info {
  margin-block: 3rem;
  padding: 3rem 5.125rem;
  background-color: #222222;
  text-align: center;
}
.info__card:not(:last-child) {
  margin-bottom: 2rem;
}
.info__card__number {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 136%;
  color: white;
}
.info__card__number span {
  font-size: 1rem;
}
.info__card__text {
  position: relative;
  top: -1.75rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 136%;
  color: #999999;
}

/*# sourceMappingURL=index.css.map */
