.burger_menu {
  position: relative;
  margin: 1.25rem;
  width: 1.25rem;
  height: 0.75rem;
  align-self: center;
}
.burger_menu div {
  position: relative;
  height: 0.125rem;
  width: 1.25rem;
  background-color: black;
}
.burger_menu .burger_menu--first {
  transition: 500ms;
  top: 0;
}
.burger_menu .burger_menu--first--crossed {
  top: 0.3125rem;
  rotate: 45deg;
}
.burger_menu .burger_menu--middle {
  transition: 500ms;
  justify-self: center;
  top: 0.1875rem;
}
.burger_menu .burger_menu--middle--crossed {
  width: 0%;
}
.burger_menu .burger_menu--last {
  transition: 500ms;
  top: 0.375rem;
}
.burger_menu .burger_menu--last--crossed {
  top: 0.0625rem;
  rotate: -45deg;
}

@media screen and (min-width: 1000px) {
  .burger_menu {
    display: none;
  }
}
nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 4.3125rem;
  padding: 1rem 1.25rem;
  transition: 200ms ease-in-out;
  transform-origin: top;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 12;
}
nav.deploy_nav--active {
  transform: scaleY(1);
}
nav.deploy_nav--non_active {
  transform: scaleY(0);
}
nav.header--nav {
  display: none;
}
nav a {
  color: #111111;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-block: 1rem;
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
  }
  nav.deploy_nav--active, nav.deploy_nav--non_active {
    display: none;
  }
  nav.header--nav {
    display: flex;
    position: relative;
    width: 40%;
    left: 0;
    padding: 0;
    background-color: white;
    box-shadow: none;
    z-index: 12;
  }
  nav.header--nav a {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 25%;
    align-content: center;
  }
  nav a {
    text-align: center;
  }
}
@media screen and (min-width: 1051px) {
  nav.header--nav {
    left: 3rem;
  }
}
.desktop_header {
  display: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: white;
}

.header--wrapper {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 99;
}

.logo {
  display: flex;
  align-self: center;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.6px;
  color: #111111;
}
.logo h1 {
  align-self: center;
  order: 2;
  font-size: 0.8rem;
  width: 8.5rem;
  margin-left: 1rem;
}
.logo h1 span {
  font-weight: 400;
}
.logo img {
  order: 1;
  width: 2.25rem;
  height: 2.25rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
}

.header_buttons {
  margin-left: auto;
}

.header_buttons--user {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}
@media screen and (min-width: 1000px) {
  .header_buttons--user {
    margin: 0.4375rem 0 0.4375rem 1.25rem;
    padding: 1.25rem;
    border: 1px solid rgba(133, 133, 133, 0.3019607843);
  }
}

.header_buttons--search {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}
@media screen and (min-width: 1000px) {
  .header_buttons--search {
    margin: 0.4375rem 0 0.4375rem 1.25rem;
    padding: 1.25rem;
    border: 1px solid rgba(133, 133, 133, 0.3019607843);
  }
}

@media screen and (min-width: 1000px) {
  header {
    position: relative;
    background-color: #222222;
    height: 6.25rem;
  }
  .desktop_header {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0.6875rem 0;
    width: 74%;
  }
  .header--wrapper {
    position: relative;
    margin: 0 auto;
    padding: 1.25rem;
    width: 74%;
    height: 7.5rem;
    box-shadow: none;
  }
  .logo h1 {
    font-size: 1.6rem;
  }
  .logo img {
    order: 1;
    width: 5rem;
    height: 5rem;
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  }
  .header_buttons {
    position: relative;
    right: 0;
  }
}
@media screen and (min-width: 1246px) {
  .header_buttons {
    position: relative;
    right: 10%;
  }
}
footer {
  background-image: url("../img/footer background.png");
  background-color: rgba(255, 255, 255, 0.98);
  background-blend-mode: lighten;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.footer__data__logo {
  display: flex;
  margin-bottom: 3.125rem;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #111111;
}
.footer__data__logo h1 {
  align-self: center;
  order: 2;
  font-size: 1.625rem;
  width: 4rem;
  margin-left: 1.75rem;
}
.footer__data__logo h1 span {
  font-weight: 400;
}
.footer__data__logo img {
  order: 1;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}

.footer__data__description {
  color: #777777;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}

.footer__data__social_media {
  display: flex;
  margin-bottom: 2rem;
}

.footer__data__social_media__link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
  background-color: #F8F8F8;
}

.footer__data__social_media__link--twitter {
  background-color: #BEAD8E;
}

.footer__services--title, .footer__contact--title {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer__services__types {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18.75rem;
  color: #777777;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.footer__contact {
  width: 60%;
}

.footer__contact__contact_card {
  display: flex;
  margin-bottom: 3.75rem;
}

.footer__contact__cc__text {
  margin-left: 1.25rem;
  width: 100%;
}

.footer__contact__cc__text--name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}

.footer__contact__cc__text--type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #777777;
}

.footer__legal {
  background-color: #F8F8F8;
  width: 100%;
  padding-block: 0.4375rem;
}

.footer__legal__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: #222222;
  padding: 0.75rem 1.25rem;
}

@media screen and (min-width: 1000px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    height: 34.5rem;
    margin: 0 auto;
    padding: 0;
  }
  .footer__data, .footer__services, .footer__contact {
    padding-block: 6.25rem;
  }
  .footer__data {
    width: 25%;
  }
  .footer__services {
    width: 33%;
  }
  .footer__contact {
    width: 20%;
  }
  .footer__legal {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    padding: 0;
  }
  .footer__legal__text {
    padding: 2rem 1.25rem;
  }
}
html, * {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

button, input[type=submit] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main__header {
  position: relative;
  background-image: url("../img/hotel-room-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.main__header__bg_color {
  background-color: rgba(51, 51, 51, 0.7882352941);
}
.main__header__text {
  padding-inline: 1.25rem;
  padding-block: 4.6875rem;
}
.main__header__text--luxury {
  width: 80%;
  margin-bottom: 1.25rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.main__header__text--details, .main__header__text--details > pre {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
}
.main__header__buttons {
  padding-inline: 1.25rem;
  padding-bottom: 4.6875rem;
}
.main__header__buttons__tour {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
}
.main__header__buttons__learn {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.breadcrumbs {
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  padding: 1rem 1.875rem;
  background-color: white;
  color: #222222;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
}
.breadcrumbs span {
  color: #BEAD8E;
}

@media screen and (min-width: 1000px) {
  .main__header {
    height: 22rem;
  }
  .main__header__bg_color {
    height: 22rem;
  }
  .main__header__text {
    position: relative;
    left: 20%;
    top: 6.5rem;
    width: 50%;
  }
  .main__header__text--details {
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -2.16px;
  }
  .main__header--index {
    height: 43.75rem;
  }
  .main__header--index__bg_color {
    height: 43.75rem;
  }
  .main__header--index__text {
    padding-bottom: 2rem;
  }
  .main__header--index__text--luxury {
    font-size: 0.875rem;
  }
  .main__header--index__text--details, .main__header--index__text--details > pre {
    font-size: 7.5rem;
    line-height: 8.125rem;
    letter-spacing: -3.6px;
  }
  .main__header--index__buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 6.5rem;
    left: 20%;
    width: 50%;
  }
  .main__header--index__buttons button {
    margin: 0 1.875rem 0 0;
    width: 13.5rem;
  }
  .breadcrumbs {
    right: 20%;
    padding: 1.25rem 2.5rem;
  }
}
.main__availability, .main__arrival {
  padding: 2.5rem;
}
.main__availability form, .main__arrival form {
  display: flex;
  flex-direction: column;
}
.main__availability form p, .main__arrival form p {
  text-align: center;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: -0.54px;
  color: #222222;
}
.main__availability form label, .main__arrival form label {
  display: flex;
  flex-direction: column;
  margin-block: 1.25rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  color: #222222;
}
.main__availability form label input, .main__arrival form label input {
  margin-block: 0.5rem;
  padding: 1.5625rem 1.25rem;
  width: 100%;
  border: 0;
  outline: none;
  background-color: #F8F8F8;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #777777;
}
.main__availability form label .input_not_visible, .main__arrival form label .input_not_visible {
  display: none;
}
.main__availability form label .input_background_image, .main__arrival form label .input_background_image {
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 1.875rem);
}
.main__availability form label .input_background_image__calendar, .main__arrival form label .input_background_image__calendar {
  background-image: url("../img/calendar.svg");
}
.main__availability form input[type=submit], .main__arrival form input[type=submit] {
  width: 100%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
}

.burger_menu {
  position: relative;
  margin: 1.25rem;
  width: 1.25rem;
  height: 0.75rem;
  align-self: center;
}
.burger_menu div {
  position: relative;
  height: 0.125rem;
  width: 1.25rem;
  background-color: black;
}
.burger_menu .burger_menu--first {
  transition: 500ms;
  top: 0;
}
.burger_menu .burger_menu--first--crossed {
  top: 0.3125rem;
  rotate: 45deg;
}
.burger_menu .burger_menu--middle {
  transition: 500ms;
  justify-self: center;
  top: 0.1875rem;
}
.burger_menu .burger_menu--middle--crossed {
  width: 0%;
}
.burger_menu .burger_menu--last {
  transition: 500ms;
  top: 0.375rem;
}
.burger_menu .burger_menu--last--crossed {
  top: 0.0625rem;
  rotate: -45deg;
}

@media screen and (min-width: 1000px) {
  .burger_menu {
    display: none;
  }
}
nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 4.3125rem;
  padding: 1rem 1.25rem;
  transition: 200ms ease-in-out;
  transform-origin: top;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 12;
}
nav.deploy_nav--active {
  transform: scaleY(1);
}
nav.deploy_nav--non_active {
  transform: scaleY(0);
}
nav.header--nav {
  display: none;
}
nav a {
  color: #111111;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-block: 1rem;
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
  }
  nav.deploy_nav--active, nav.deploy_nav--non_active {
    display: none;
  }
  nav.header--nav {
    display: flex;
    position: relative;
    width: 40%;
    left: 0;
    padding: 0;
    background-color: white;
    box-shadow: none;
    z-index: 12;
  }
  nav.header--nav a {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 25%;
    align-content: center;
  }
  nav a {
    text-align: center;
  }
}
@media screen and (min-width: 1051px) {
  nav.header--nav {
    left: 3rem;
  }
}
.desktop_header {
  display: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: white;
}

.header--wrapper {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 99;
}

.logo {
  display: flex;
  align-self: center;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.6px;
  color: #111111;
}
.logo h1 {
  align-self: center;
  order: 2;
  font-size: 0.8rem;
  width: 8.5rem;
  margin-left: 1rem;
}
.logo h1 span {
  font-weight: 400;
}
.logo img {
  order: 1;
  width: 2.25rem;
  height: 2.25rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
}

.header_buttons {
  margin-left: auto;
}

.header_buttons--user {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}
@media screen and (min-width: 1000px) {
  .header_buttons--user {
    margin: 0.4375rem 0 0.4375rem 1.25rem;
    padding: 1.25rem;
    border: 1px solid rgba(133, 133, 133, 0.3019607843);
  }
}

.header_buttons--search {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1.4rem;
  line-height: 0;
}
@media screen and (min-width: 1000px) {
  .header_buttons--search {
    margin: 0.4375rem 0 0.4375rem 1.25rem;
    padding: 1.25rem;
    border: 1px solid rgba(133, 133, 133, 0.3019607843);
  }
}

@media screen and (min-width: 1000px) {
  header {
    position: relative;
    background-color: #222222;
    height: 6.25rem;
  }
  .desktop_header {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0.6875rem 0;
    width: 74%;
  }
  .header--wrapper {
    position: relative;
    margin: 0 auto;
    padding: 1.25rem;
    width: 74%;
    height: 7.5rem;
    box-shadow: none;
  }
  .logo h1 {
    font-size: 1.6rem;
  }
  .logo img {
    order: 1;
    width: 5rem;
    height: 5rem;
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  }
  .header_buttons {
    position: relative;
    right: 0;
  }
}
@media screen and (min-width: 1246px) {
  .header_buttons {
    position: relative;
    right: 10%;
  }
}
footer {
  background-image: url("../img/footer background.png");
  background-color: rgba(255, 255, 255, 0.98);
  background-blend-mode: lighten;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.footer__data__logo {
  display: flex;
  margin-bottom: 3.125rem;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #111111;
}
.footer__data__logo h1 {
  align-self: center;
  order: 2;
  font-size: 1.625rem;
  width: 4rem;
  margin-left: 1.75rem;
}
.footer__data__logo h1 span {
  font-weight: 400;
}
.footer__data__logo img {
  order: 1;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}

.footer__data__description {
  color: #777777;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}

.footer__data__social_media {
  display: flex;
  margin-bottom: 2rem;
}

.footer__data__social_media__link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
  background-color: #F8F8F8;
}

.footer__data__social_media__link--twitter {
  background-color: #BEAD8E;
}

.footer__services--title, .footer__contact--title {
  font-family: "Old Standard TT";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer__services__types {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18.75rem;
  color: #777777;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.footer__contact {
  width: 60%;
}

.footer__contact__contact_card {
  display: flex;
  margin-bottom: 3.75rem;
}

.footer__contact__cc__text {
  margin-left: 1.25rem;
  width: 100%;
}

.footer__contact__cc__text--name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}

.footer__contact__cc__text--type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #777777;
}

.footer__legal {
  background-color: #F8F8F8;
  width: 100%;
  padding-block: 0.4375rem;
}

.footer__legal__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: #222222;
  padding: 0.75rem 1.25rem;
}

@media screen and (min-width: 1000px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    height: 34.5rem;
    margin: 0 auto;
    padding: 0;
  }
  .footer__data, .footer__services, .footer__contact {
    padding-block: 6.25rem;
  }
  .footer__data {
    width: 25%;
  }
  .footer__services {
    width: 33%;
  }
  .footer__contact {
    width: 20%;
  }
  .footer__legal {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    padding: 0;
  }
  .footer__legal__text {
    padding: 2rem 1.25rem;
  }
}
html, * {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

button, input[type=submit] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main__header {
  position: relative;
  background-image: url("../img/hotel-room-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.main__header__bg_color {
  background-color: rgba(51, 51, 51, 0.7882352941);
}
.main__header__text {
  padding-inline: 1.25rem;
  padding-block: 4.6875rem;
}
.main__header__text--luxury {
  width: 80%;
  margin-bottom: 1.25rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.main__header__text--details, .main__header__text--details > pre {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
}
.main__header__buttons {
  padding-inline: 1.25rem;
  padding-bottom: 4.6875rem;
}
.main__header__buttons__tour {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
}
.main__header__buttons__learn {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.breadcrumbs {
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  padding: 1rem 1.875rem;
  background-color: white;
  color: #222222;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.48px;
}
.breadcrumbs span {
  color: #BEAD8E;
}

@media screen and (min-width: 1000px) {
  .main__header {
    height: 22rem;
  }
  .main__header__bg_color {
    height: 22rem;
  }
  .main__header__text {
    position: relative;
    left: 20%;
    top: 6.5rem;
    width: 50%;
  }
  .main__header__text--details {
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -2.16px;
  }
  .main__header--index {
    height: 43.75rem;
  }
  .main__header--index__bg_color {
    height: 43.75rem;
  }
  .main__header--index__text {
    padding-bottom: 2rem;
  }
  .main__header--index__text--luxury {
    font-size: 0.875rem;
  }
  .main__header--index__text--details, .main__header--index__text--details > pre {
    font-size: 7.5rem;
    line-height: 8.125rem;
    letter-spacing: -3.6px;
  }
  .main__header--index__buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 6.5rem;
    left: 20%;
    width: 50%;
  }
  .main__header--index__buttons button {
    margin: 0 1.875rem 0 0;
    width: 13.5rem;
  }
  .breadcrumbs {
    right: 20%;
    padding: 1.25rem 2.5rem;
  }
}
.swiper_complete .swiper-pagination, .swiper-only-pagination .swiper-pagination {
  bottom: 0;
}

.swiper-only-pagination {
  text-align: center;
}

.page-number,
.swiper_complete .custom-button-prev--rooms,
.swiper_complete .custom-button-next--rooms,
.swiper-only-pagination .custom-button-prev--rooms,
.swiper-only-pagination .custom-button-next--rooms {
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 2rem;
  height: 2rem;
  line-height: 1.25rem;
  color: #222222;
}

.page-number {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 0.875rem;
}
.page-number:not(:last-child) {
  margin-right: 0.625rem;
}

.active {
  background-color: #BEAD8E;
  color: white;
}

.swiper_complete .custom-button-prev--rooms,
.swiper_complete .custom-button-next--rooms,
.swiper-only-pagination .custom-button-prev--rooms,
.swiper-only-pagination .custom-button-next--rooms {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1.25rem;
}

.custom-button-prev--rooms::after, .custom-button-next--rooms::after {
  display: none;
}

.swiper_complete .custom-button-prev--rooms, .swiper-only-pagination .custom-button-prev--rooms {
  margin-right: 0.625rem;
}

.swiper .custom-button-prev--only_navigation, .swiper .custom-button-next--only_navigation {
  top: 6.25rem;
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 2rem;
  height: 2rem;
  line-height: 1.25rem;
  cursor: pointer;
  z-index: 3;
}

.custom-button-prev--only_navigation {
  color: #111111;
  background-color: white;
  left: 1rem;
}

.custom-button-next--only_navigation {
  color: white;
  background-color: #BEAD8E;
  right: 1rem;
}

.room__card {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  text-align: center;
}
.room__card__bottom {
  position: relative;
  background-color: white;
}
.room__card__bottom__icons {
  position: relative;
  bottom: 1.375rem;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.0509803922);
}
.room__card__bottom__icons > :not(:last-child) {
  padding-right: 1rem;
}
.room__card__bottom__type {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.72px;
  color: #222222;
}
.room__card__bottom__description {
  padding: 0.625rem;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
}
.room__card__bottom__pricing {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-block: 0.625rem 1.875rem;
  width: 70%;
}
.room__card__bottom__pricing__price, .room__card__bottom__pricing__book {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
}
.room__card__bottom__pricing__price {
  color: #BEAD8E;
}
.room__card__bottom__pricing hr {
  display: none;
  position: relative;
  align-self: flex-end;
  width: 20%;
  right: 0;
  margin-block: 1rem 0.5rem;
  border: 1px solid #F1F1F1;
}
.room__card__bottom__pricing__book {
  color: #BDBDBD;
}

@media screen and (min-width: 1000px) {
  .room__card {
    margin: 0 auto;
    padding-right: 1rem;
  }
  .room__card--list {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.875rem;
  }
  .room__card--list img {
    width: 50%;
    height: 100%;
    max-height: 19rem;
  }
  .room__card--list__bottom {
    position: relative;
    padding: 1.5rem 0 1.5rem 2.5rem;
    text-align: left;
    background-color: white;
  }
  .room__card--list__bottom__icons {
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    width: fit-content;
    height: 3rem;
    margin: 0 0.5rem 2.5rem 0;
    padding: 0.75rem 1.5rem;
  }
  .room__card--list__bottom__icons > img {
    width: 1.875rem;
  }
  .room__card--list__bottom__icons > :not(:last-child) {
    padding-right: 0;
  }
  .room__card--list__bottom__type {
    width: 55%;
  }
  .room__card--list__bottom__description {
    width: 60%;
    margin-top: 1rem;
    padding: 0;
  }
  .room__card--list__bottom__pricing {
    flex-direction: column;
    position: absolute;
    margin: 0;
    width: auto;
    top: 35%;
    right: 0;
    text-align: right;
  }
  .room__card--list__bottom__pricing__price span {
    font-size: 2.5rem;
  }
  .room__card--list__bottom__pricing hr {
    display: block;
  }
}
.rooms__view {
  display: none;
}

@media screen and (min-width: 1000px) {
  .rooms {
    top: -5rem;
    width: 60%;
    margin: 0 auto 7rem auto;
  }
  .rooms__view {
    display: block;
    position: sticky;
    top: 7rem;
    width: 15%;
    height: 5rem;
    margin: 7rem 0 0 2.5%;
    padding: 1rem 0;
    font-family: "Archivo";
    font-weight: 400;
    font-size: 0.875rem;
    background-color: #BEAD8E;
    color: #F8F8F8;
    border: 0;
  }
  .rooms--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.main__arrival {
  background-color: #222222;
  padding: 1.25rem;
}
.main__arrival form label {
  font-family: "Roboto";
  font-size: 1rem;
  color: white;
}
.main__arrival form label input {
  padding-block: 0.875rem;
  padding-left: 1.5rem;
  border-bottom: 2px solid #BEAD8E;
  background-color: transparent;
  font-family: "Roboto";
}
.main__arrival form label .input_background_image {
  background-position-x: left;
}
.main__arrival form label .input_background_image__calendar {
  background-image: url("../img/calendar_dark.svg");
}
.main__arrival form input[type=submit] {
  margin-bottom: 2rem;
  width: 70%;
}

@media screen and (min-width: 1000px) {
  .main__arrival form {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
  }
  .main__arrival form label {
    width: 30%;
    margin-right: 1.875rem;
  }
  .main__arrival form label input {
    padding-block: 0.875rem;
    padding-left: 1.5rem;
    border-bottom: 2px solid #BEAD8E;
    background-color: transparent;
    font-family: "Roboto";
  }
  .main__arrival form label .input_background_image {
    background-position-x: left;
  }
  .main__arrival form label .input_background_image__calendar {
    background-image: url("../img/calendar_dark.svg");
  }
  .main__arrival form input[type=submit] {
    margin-left: auto;
    margin-block: 1.25rem;
    width: auto;
  }
}
.about {
  margin: 3.5rem 1.25rem 0 1.25rem;
}
.about__text__name {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
  color: #777777;
}
.about__text__title {
  padding-block: 2rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #111111;
}
.about__text__description {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
}
.about__text__book {
  margin-top: 2rem;
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
}
.about__team, .about__luxury {
  padding: 3rem 3.25rem;
}
.about__team__img, .about__luxury__img {
  display: block;
  width: 100%;
}
.about__team__card, .about__luxury__card {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 100%;
}
.about__team__card__icon, .about__luxury__card__icon {
  margin: 0 auto;
  width: fit-content;
}
.about__team__card__title, .about__luxury__card__title {
  padding-block: 2rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.9px;
  text-align: center;
  color: #111111;
}
.about__team__card__description, .about__luxury__card__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: center;
  color: #111111;
}
.about__luxury__card {
  background-color: #111111;
}
.about__luxury__card__title, .about__luxury__card__description {
  color: white;
}

@media screen and (min-width: 1000px) {
  .about {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 9rem auto;
  }
  .about__text {
    order: 3;
    width: 40%;
  }
  .about__text__name {
    line-height: 100%;
  }
  .about__text__title {
    font-size: 5rem;
    line-height: 5.625rem;
    letter-spacing: -2.4px;
  }
  .about__text__book {
    width: 50%;
    padding: 1.25rem;
    border: none;
    background-color: #BEAD8E;
    font-family: "Archivo";
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: white;
  }
  .about__team {
    order: 1;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0;
  }
  .about__team__card {
    order: 1;
    box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.0196078431);
    margin-bottom: 1.875rem;
  }
  .about__team__img {
    order: 2;
  }
  .about__luxury {
    order: 2;
    position: relative;
    width: 25%;
    padding: 0;
    top: 1.875rem;
  }
  .about__luxury__img {
    margin-bottom: 1.875rem;
  }
}
.popular_rooms {
  position: relative;
}
.popular_rooms--list {
  padding-top: 3rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  text-align: center;
  color: #777777;
}
.popular_rooms--room {
  margin-block: 0.9375rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  text-align: center;
  color: #222222;
}

@media screen and (min-width: 1000px) {
  .popular_rooms--room {
    margin-block: 0.9375rem;
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -2.4px;
    text-align: center;
    color: #222222;
  }
  .popular__wrapper {
    display: flex;
    margin-bottom: 7rem;
    padding-bottom: 7rem;
  }
  .popular__wrapper__slide {
    width: 50%;
    padding: 5rem 0.5rem;
  }
}
.room__card {
  position: relative;
  margin: 1.25rem 0;
}
.room__card__icons {
  position: absolute;
  top: -1.375rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.0509803922);
}
.room__card__icons > :not(:last-child) {
  padding-right: 1rem;
}
.room__card__bottom {
  margin-inline: 1.25rem;
  bottom: 1.25rem;
}
.room__card__bottom__type {
  margin-top: 1.25rem;
}
.room__card__bottom span {
  font-size: 2rem;
}

@media screen and (min-width: 1000px) {
  .room__card__icons, .room__card__bottom {
    opacity: 0;
    transition: 200ms ease-in-out;
  }
  .swiper-slide-active .room__card__icons, .swiper-slide-active .room__card__bottom {
    opacity: 1;
  }
  .room__card__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 2rem;
    padding: 2.375rem;
  }
  .room__card__bottom__type {
    order: 1;
    width: 50%;
    margin: 0;
    font-size: 2.25rem;
    letter-spacing: -1.08px;
    text-align: left;
    line-height: 100%;
  }
  .room__card__bottom__description {
    order: 3;
    width: 70%;
    padding: 0.5rem 0 0 0;
    text-align: left;
  }
  .room__card__bottom__pricing {
    order: 2;
    width: 30%;
    margin: 0;
  }
  .room__card__bottom__pricing__price {
    width: 100%;
    align-self: flex-end;
    text-align: right;
  }
  .room__card__bottom__pricing span {
    font-size: 2.5rem;
  }
  .swiper .custom-button-prev--only_navigation, .swiper .custom-button-next--only_navigation {
    top: 25%;
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
  }
  .custom-button-prev--only_navigation {
    left: 18%;
  }
  .custom-button-next--only_navigation {
    right: 18%;
  }
}
.place {
  padding: 3.5rem 1.25rem;
  background-color: #222222;
}
.place__name {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #BEAD8E;
}
.place__title {
  padding-block: 2rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: white;
}
.place__description {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #C2C2C2;
}
.place .video {
  margin-block: 2rem;
}
.place__book {
  width: 70%;
  padding: 1.25rem;
  border: none;
  background-color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 1000px) {
  .place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.75rem;
    position: relative;
    padding: 7.5rem 20%;
  }
  .place__second_panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #AD9D82;
  }
  .place__name {
    grid-column: 1;
  }
  .place__title {
    grid-column: 1;
    font-size: 5rem;
    line-height: 5.25rem;
    letter-spacing: -2.4px;
  }
  .place__description {
    grid-column: 1;
  }
  .place .video {
    grid-column: 2/3;
    grid-row: 1/5;
    height: 100%;
    margin: 0;
    z-index: 1;
  }
  .place__book {
    grid-column: 1;
    margin-top: 2rem;
    width: 70%;
    padding: 1.25rem;
    border: none;
    background-color: #BEAD8E;
    font-family: "Archivo";
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: white;
  }
}
.features {
  padding: 1.25rem;
}
.features__title {
  margin-top: 1.75rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  text-align: center;
  color: #777777;
}
.features__description {
  margin-block: 1rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  text-align: center;
}
.features__main__card {
  position: relative;
  padding: 4.5rem 1.125rem 3rem 1.125rem;
}
.features__main__card__number {
  position: absolute;
  top: -0.5rem;
  right: 0.75rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 8.125rem;
  color: rgba(34, 34, 34, 0.04);
}
.features__main__card__title {
  margin-block: 1.5rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.9px;
  color: #222222;
}
.features__main__card__description {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
}

@media screen and (min-width: 1000px) {
  .features {
    margin-top: 7.5rem;
  }
  .features__description {
    margin-block: 2.5rem;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -2.4px;
  }
  .features__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 0 auto;
  }
  .features__main__card {
    position: relative;
    padding: 4.5rem 1.5rem 3rem 1.5rem;
  }
  .features__main__card__number {
    position: absolute;
    top: -0.5rem;
    right: 0.75rem;
    font-family: "Archivo";
    font-weight: 700;
    font-size: 7.5rem;
    line-height: 8.125rem;
    color: rgba(34, 34, 34, 0.04);
  }
  .features__main__card__title {
    margin-block: 1.5rem;
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.875rem;
    letter-spacing: -0.9px;
    color: #222222;
  }
  .features__main__card__description {
    font-family: "Archivo";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #777777;
  }
}
.swiper_complete .swiper-pagination-bullet, .swiper_only_pagination .swiper-pagination-bullet {
  background: #EDEDED;
  opacity: 1;
}

.swiper_complete .swiper-pagination-bullet-active, .swiper_only_pagination .swiper-pagination-bullet-active {
  background: #BEAD8E;
}

.menu {
  position: relative;
  padding: 3.5rem 1.25rem;
}
.menu__icon {
  display: none;
}
.menu__icon--cropped {
  position: relative;
  left: calc(100% - 5.5625rem + 1.25rem);
}
.menu__name {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
}
.menu__title {
  padding-block: 2rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #222222;
}
.menu__card {
  display: flex;
  margin-block: 1rem;
}
.menu__card__img {
  width: 7.5rem;
}
.menu__card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}
.menu__card__text__name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.72px;
  color: #222222;
}
.menu__card__text__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #222222;
}

@media screen and (min-width: 1000px) {
  .menu {
    width: 60%;
    margin: 0 auto;
  }
  .menu__icon {
    display: block;
    position: relative;
    top: 2.375rem;
    right: 30%;
    width: 14.25rem;
    z-index: -1;
  }
  .menu__icon--cropped {
    display: none;
  }
  .menu__title {
    font-size: 5rem;
    line-height: 100%;
    letter-spacing: -2.4px;
  }
  .menu__card:hover {
    transition: 150ms ease-in-out;
    background-color: #222222;
    color: white;
  }
  .menu__card:hover .menu__card__text__name {
    color: white;
    transition: 150ms ease-in-out;
  }
  .menu__card:hover .menu__card__text__description {
    color: white;
    transition: 150ms ease-in-out;
  }
  .menu__card__text {
    margin: 1.25rem 2rem;
  }
  .menu__card__text__description {
    width: 75%;
  }
}
.menu .swiper-button-prev, .menu .swiper-button-next {
  top: auto;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  z-index: 3;
}
.menu .swiper-button-prev::after, .menu .swiper-button-next::after {
  content: none;
}
.menu .swiper-button-prev {
  color: #111111;
  background-color: #F8F8F8;
  left: auto;
  right: 4rem;
}
.menu .swiper-button-next {
  color: white;
  background-color: #BEAD8E;
  right: 1rem;
}

@media screen and (min-width: 1000px) {
  .menu .swiper-button-prev, .menu .swiper-button-next {
    position: absolute;
    top: 10rem;
    width: 4.375rem;
    height: 4.375rem;
    z-index: 99;
  }
  .menu .swiper-button-prev {
    right: 6.5rem;
  }
}
.menu_pictures .swiper-slide {
  margin-bottom: 2rem;
}
.menu_pictures__images__image {
  padding: 1.25rem;
}

@media screen and (min-width: 1000px) {
  .menu_pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
  }
  .menu_pictures__images {
    justify-content: space-between;
  }
  .menu_pictures__images__image {
    width: 30%;
    padding: 0;
  }
}
.info {
  margin-block: 3rem;
  padding: 3rem 5.125rem;
  background-color: #222222;
  text-align: center;
}
.info__card:not(:last-child) {
  margin-bottom: 2rem;
}
.info__card__number {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 136%;
  color: white;
}
.info__card__number span {
  font-size: 1rem;
}
.info__card__text {
  position: relative;
  top: -1.75rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 136%;
  color: #999999;
}

@media screen and (min-width: 1000px) {
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 3rem auto;
    text-align: left;
  }
  .info__card, .info__card:not(:last-child) {
    max-width: 33%;
    margin: 0 auto;
    padding: 1rem;
  }
  .info__card__number {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 136%;
    color: white;
  }
  .info__card__number span {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
